@import url('./assets/styles/vars.css');

#root {
  width: 100%
}

.site-root {
    text-align: center;
    height: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
    padding: 2em;
    background: var(--content-background);
    color: var(--color);
}

.full-height {
    flex-grow: 1;
}

.button-link:hover {
    color: var(--button-link-hover) !important;
}

.button-link.Mui-disabled {
    background: var(--disabled-button-background) !important;
    color: var(--color) !important;
}

.socials-container {
    background: var(--content-background);
    color: var(--color);
    margin-top: 0;
    padding: 10px;
    display: block;
}

.social-icon-wrapper > svg {
    font-size: 32px;
}

.tile-media {
  height: 100%;
  width: 100%;
}

.tile-media-positioner:hover > .tile-media-overlay {
  opacity: .9;
  cursor: pointer;
}

.tile-media-positioner {
  width: 350px;
  height: 200px;
  margin-bottom: 10px;
  position: relative;
}

.tile-media-positioner-v2 {
  margin-bottom: 0;
}

.tile-media-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity .25s ease-in-out;
  /* background: #ccc; */
  opacity: 0;
  top: 0;
  left: 0;
  background: var(--content-background);
  color: var(--color);

}

.tile-media-overlay-text {
  position: absolute;
  /* color: #171718; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobile-label {
  margin-top: 10px;
  max-width: 350px;
  white-space: wrap;
}

.tile-media:last-child {
  margin-bottom: 0;
}

.tile-media-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border-radius: 5px;
  padding: 3px;
}

.selected-tile {
  box-shadow: 0 0 10px var(--button-standard);
  padding: 0;
}

.bordered-media {
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  overflow: hidden;
}

.selected-tile-border {
  border: 3px solid var(--button-standard);
}

.contact-form-fields-container {
    display: flex;
    flex-direction: column;
}

.contact-form-field {
    margin-bottom: 20px !important;
}

.contact-info-box {
    margin-top: 5px !important;
    margin-bottom: 25px !important;
}

.profile-img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.profile-img-container {
    border-radius: 5px;
    min-width: 256px;
    max-width: 256px;
    max-height: 256px;
    display: block;
    border: 1px solid #000;
}

.bio {
    text-align: left;
}

.across-from-pic {
    flex-grow: 1;
}

.credit-button {
  min-width: 24px;
}

.credited-social-icon {
  max-width: 24px;
  max-height: 24px;
  fill: var(--button-standard);
  transition: fill .25s ease-in-out;
}

.credited-social-icon:hover {
  fill: var(--button-link-hover);
}


.modal-image {
  max-width: 75vw;
  max-height: 75vh;
  box-shadow: 0 0 10px #000;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-image-container {
  margin: auto;
  outline: none;
}

.project-tile-divider-line {
    border-bottom: 2px solid var(--divider);
    margin: 22px auto 0 auto;
    width: 80%;
}

.project-accordion {
  background: var(--content-background) !important;
  color: var(--color) !important;
  transition: min-height .25s ease-in-out !important;
  border: 1px solid var(--color);
  box-shadow: 0 0 2px var(--color) !important;
}

.project-accordion-expander {
  color: var(--color);
}

.project-block-container {
  margin-top: 20px;
}

.project-link-container {
  /* to account for the button margin */
  margin-top: 10px;
}

.project-detail-container {
  scroll-margin-top: 20px;
}

.project-image {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-image-block {
  max-width: 100%;
  width: 350px;
  height: 200px;
  margin: 0 auto;
  background: #000;
  position: relative;
  box-shadow: 0 0 2px #000;
  border-radius: 5px;
  cursor: pointer;
}

.project-header-image-block {
  width: 500px;
  height: 350px;
}

.project-image-block:hover {
  box-shadow: 0 0 10px #000;
}

.project-image-modal-container {
  display: block;
  outline: none;
}